<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %} - Sports Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <nav>
    <h1><a href="{{ url_for('home.index') }}" style="text-decoration: none; color: #fff;"><i class="fas fa-running"></i>
        Sports
        Blog</a></h1>
    <ul>
      <li>
        <a href="{{ url_for('blog.index') }}"><i class="fas fa-home"></i>Posts</a>
      </li>
      {% if g.user %}
      <li>
        <a href="{{ url_for('blog.account') }}"><span><i class="fas fa-user"></i> {{ g.user['username'] }}</span></a>
      </li>
      <li>
        <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for('auth.register') }}"><i class="fas fa-user-plus"></i> Register</a>
      </li>
      <li>
        <a href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt"></i> Log In</a>
      </li>
      {% endif %}
      </ul#>
  </nav>

  <section class="content">
    <header>{% block header %}{% endblock %}</header>

    {% for message in get_flashed_messages() %}
    <div class="flash"><i class="fas fa-info-circle"></i> {{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
  </section>
</body>

</html>